<!DOCTYPE html>
<html>

<head>
  <title>Edit Siswa</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Edit Data</h1>

  <form action="/edit/<%= data.id %>" method="POST">

    <label>Name</label>
    <input type="text" name="name" value="<%= data.name %>" required>

    <label>Height</label>
    <input type="number" name="height" value="<%= data.height %>" required>

    <label>Weight</label>
    <input type="number" name="weight" value="<%= data.weight %>" required>

    <label>Birthdate</label>
    <input type="date" name="birthdate" value="<%= data.birthdate %>" required>

    <label>Married</label>
    <select name="married">
      <option value="0" <%=data.married==0 ? 'selected' : '' %>>No</option>
      <option value="1" <%=data.married==1 ? 'selected' : '' %>>Yes</option>
    </select>

    <button type="submit" class="btn">Update</button>
  </form>

  <a href="/" class="btn btn-red">Kembali</a>
</body>

</html>